console={{ kernel_cmdline.console }} root={{ kernel_cmdline.root }} nfsroot={{ kernel_cmdline.nfsroot }} ip={{ kernel_cmdline.ip }}{% if kernel_cmdline.rw %} rw{% endif %}{% if kernel_cmdline.rootwait %} rootwait{% endif %}{% if kernel_cmdline.cgroup_enable_cpuset %} cgroup_enable=cpuset{% endif %}{% if kernel_cmdline.cgroup_memory %} cgroup_memory={{ kernel_cmdline.cgroup_memory }}{% endif %}{% if kernel_cmdline.cgroup_enable_memory %} cgroup_enable=memory{% endif %}
